<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="Themes/StarAdmin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="Themes/StarAdmin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="Themes/StarAdmin/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="Themes/StarAdmin/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="Themes/StarAdmin/images/favicon.png" />

  <!-- Angular -->
  <script src="Resources/js/angular/angular.min.js"></script>
</head>

<body ng-controller="login">
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form name="formu">
                <div class="form-group">
                  <label class="label">Cedula</label>
                  <div class="input-group">
                    <input ng-model="cedula" maxlength="8" type="text" class="form-control" placeholder="Cedula" required="">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-account-card-details"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Contraseña</label>
                  <div class="input-group">
                    <input ng-model="clave" type="password" class="form-control" placeholder="*********" required="">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-key"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button ng-disabled="!formu.$valid" ng-click="login()" class="btn btn-primary btn-block">Iniciar sesión</button>
                </div>
                <!-- <div class="form-group d-flex justify-content-between">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> Keep me signed in
                    </label>
                  </div>
                  <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                </div> -->
                <!-- <div class="form-group">
                  <button class="btn btn-block g-login">
                    <img class="mr-3" src="../../Themes/StarAdmin/images/file-icons/icon-google.svg" alt="">Log in with Google</button>
                  </div> -->
                <!-- <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Not a member ?</span>
                  <a href="register.html" class="text-black text-small">Create new account</a>
                </div> -->
              </form>
            </div>
            <ul class="auth-footer">
              <li>
                <a class="text-dark" href="#">*******</a>
              </li>
              <li>
                <a class="text-dark" href="#">******</a>
              </li>
              <li>
                <a class="text-dark" href="#">******</a>
              </li>
            </ul>
            <p class="footer-text text-center text-dark">copyright © 2018 Alcaldía del Municipio Guaicaipuro. Todos los derechos reservados.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="Themes/StarAdmin/vendors/js/vendor.bundle.base.js"></script>
  <script src="Themes/StarAdmin/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="Themes/StarAdmin/js/off-canvas.js"></script>
  <script src="Themes/StarAdmin/js/misc.js"></script>
  <!-- endinject -->

  <!-- sweetalert -->
  <script src="../../Resources/sweetalert/sweetalert.min.js"></script>

  <!-- Base URL -->
  <script src="Resources/js/url.js"></script>

  <!-- Index  Controller -->
  <script src="JSControllers/login.js"></script>
</body>

</html>